<?xml version="1.0" encoding="utf-8"?>
<settings>
	<AutoLayout value="0"/>
	<RenderWidth value="640"/>
	<RenderHeight value="480"/>
	<RenderX value="10"/>
	<RenderY value="40"/>
	<FboWidth value="640"/>
	<FboHeight value="480"/>
	<OSCReceiverPort value="7019"/>
	<OSCDestinationPort value="7018"/>
	<OSCDestinationHost value="127.0.0.1"/>
	<MIDIOpenAllInputPorts value="1"/>
	<ShowUI value="0"/>
	<CursorVisible value="0"/>
	<IsOSCSender value="0"/>
</settings>

